firmware/build
firmware/sdkconfig
firmware/sdkconfig.old
firmware/web/*.gz
pcb*/*.*-bak
pcb*/*-backups
pcb*/Outputs/*.g??
pcb*/Outputs/*.drl
pcb*/Outputs/*.csv
pcb*/Outputs/*.pos
pcb*/fp-info-cache
pcb*/*.round-tracks-config